@charset "utf-8";
@import "settings";

.con_story {
    @include cV(padding-bottom, 100px, 15%);
    
   /* START story common style */ 
    .box_list, .column_list {
        display: flex;
        flex-wrap: wrap;
        li {
            display: block;
            @include cV(width, 32%, 49%, 100%);
            @include cV(margin-bottom, 80px, 5%, 10%);
            a {
                box-sizing: border-box;
                display: block;
                .img {
                    width: 100%;
                    img {
                        display: block;
                        width: 100%;
                    }
                }
                .box_txt {
                    box-sizing: border-box;
                    @include cV(padding, 25px 10px, 5% 3%, 5% 3%);
                    .txt {
                        dt, dd {display: block;}
                        dt {
                            @include fsz-cha(18,16,14);
                            @include cV(margin-bottom, 10px, 2%);
                            font-weight: 600;
                        }
                        dd {
                            @include fsz-cha(15,14,13);
                            line-height: 1.8em;
                            font-weight: 300;
                            @include cV(margin-bottom, 20px, 3%);
                        } 
                    }
                    .util {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        @include fsz-cha(13,13,12);
                        .date, .cate {
                            color: #a4a4a4;
                        }
                        .cate {
                            border: 1px solid #a4a4a4;
                            padding: 0.2em 1em;
                            border-radius: 100px;
                        }
                    }
                }
            }
            @include mq(pc) {
                a {
                    .img {
                        overflow: hidden;
                        img {transition: all 0.75s;}
                    }
                    &:hover {
                        .img img {
                            transform: scale(1.1,1.1);
                        }
                        .box_txt .txt dt {
                            text-decoration: underline;
                        }
                    }
                }
            }
            @include mq(tab_sp) {
                a {
                    .img {
                        border-radius: 10px 10px 0 0;
                        overflow: hidden;
                    }
                    .box_txt {
                        border: 1px solid #d9d9d9;
                        border-top: none;
                        border-radius: 0 0 10px 10px;
                    }

                }
            }
            &.off {display: none;}
            &.on {display: block;}
        }
    }
    
    .column_list {
        .column {
            float: left;
            @include cV(width, 33.3%, 49%, 100%);
            display: none;
            .content {
                background-color: white;
                @include cV(padding, 10px, 0);
            }
            &.show {display: block;}
        }
        .row:after {
            content: "";
            display: table;
            clear: both;
        }
    }
    
   /* END story common style */ 
    
    .box_story {
        @extend %bw;
        .box_nav {
            @include fsz-cha(14,14,13);
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: space-between;
            @include cV(margin-bottom, 35px, 5%);
            .sum {
                @include cV(margin-bottom, 0, 3%);
                dt, dd {display: inline-block;}
                dt {
                    font-weight: 300;
                    padding-right: 0.5em;
                }
            }
            .nav {
                .btn {
                    border: none;
                    outline: none;
                    background-color: white;
                    cursor: pointer;
                    border: 1px solid #d9d9d9;
                    border-radius: 100px;
                    @include cV(padding, 7px 0, 0.5em 0);
                    @include cV(width, 85px, 24%);
                    &:hover {
                        background-color: $pointColor;
                        border-color: $pointColor;
                        color: #fff;
                    }
                    &.active {
                        background-color: $pointColor;
                        border-color: $pointColor;
                        color: #fff;
                    }
                }
                @include mq(sp) {
                    width: 100%;
                }
            }
        }
        .pnav {
            display: flex;
            justify-content: center;
            align-items: center;
            li {
                margin: 0 0.2em;
                a {
                    display: block;
                    padding: 1em;
                    line-height: 1;
                    opacity: 0.5;
                    @include mq(pc) {
                        &:hover {
                            opacity: 1;
                        }
                    }
                }
                &.active {
                    a {
                        background-color: $pointColor;
                        color: #fff;
                        opacity: 1;
                    }
                }
            }
            
        }
    }
    .box_view {
        @extend %bw;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        flex-wrap: wrap;
        @include cV(margin-bottom, 60px, 15%);
        .box_tit {
            @include cV(width, 38%, 100%, 100%);
            .tit {
                text-align: left;
                width: 100%;
                @include cV(margin-bottom, 30px, 3%);
                @include fsz-cha(50,45,40);
            }
            .util {
                display: flex;
                align-items: center;
                @include fsz-cha(13,13,12);
                color: #a4a4a4;
                .cate {
                    border: 1px solid #a4a4a4;
                    padding: 0.2em 1em;
                    border-radius: 100px;
                    border-color: #333;
                    color: #333;
                }
                .date {
                    padding: 0 1em;
                }
                .viewer {
                    display: none;
                    dt,dd {display: inline-block;}
                    &:before {
                        content: "|";
                        display: inline-block;
                        color: #d9d9d9;
                        margin-right: 0.5em;
                    }
                }
            }
        }
        .box_txt {
            @include cV(margin-top, 0, 10%, 15%);
            @include cV(width, 58%, 100%, 100%);
            h4 {
                @include fsz-cha(20,20,18);
                @include cV(margin, 80px auto 40px, 10% auto 5%);
                display: flex;
                align-items: center;
                box-sizing: border-box;
                padding-left: 0.5em;
                border-left: 3px solid $pointColor;
            }
            .txt {
                font-weight: 300;
                line-height: 1.8em;
                @include cV(margin, 40px auto, 5% auto);
                &:first-child {
                    margin-top: 0;
                    &:first-letter {
                        font-size: 200%;
                    }
                }
            }
            ol.list {
                font-weight: 300;
                line-height: 1.8em;
                @include cV(margin, 40px auto, 5% auto);
                box-sizing: border-box;
                padding-left: 1em;
                li {list-style-type: decimal;}
            }
            ul.list {
                font-weight: 300;
                line-height: 1.8em;
                @include cV(margin, 40px auto, 5% auto);
                box-sizing: border-box;
                padding-left: 1.2em;
                li {list-style-type: disc;}
            }
            .img {
                max-width: 100%;
                @include cV(margin, 40px auto, 5% auto);
                img {width: 100%;}
                &:first-child {
                    margin-top: 0;
                }
            }
        }
        .box_pnav {
            border-top: 1px solid #D9D9D9;
            width: 100%;
            display: block;
            @include cV(margin-top, 50px, 5%);
            ul {
                display: flex;
                justify-content: flex-end;
                @include cV(margin-top, 15px, 3%);
                li {
                    @include cV(margin-left, 10px, 2%);
                    a {
                        @include fsz-cha(13,13,13);
                        font-weight: 300;
                        display: block;
                        border: 1px solid #707070;
                        border-radius: 100px;
                        padding: 0.2em 1em;
                        color: #666;
                    }
                    &:first-child {margin-left: 0;}
                }
                @include mq(pc) {
                    li a:hover {
                        background-color: $pointColor;
                        border-color: $pointColor;
                        color: #fff;
                    }
                }
            }
        }
    }
    .box_hot {
        @extend %bw;
        @include cV(margin-bottom, 50px, 10%);
        .tit {
            width: 100%;
            @include cV(etxt-align, left, center);
            strong, small {display: block;}
            strong {
                @include fsz-cha(45,45,35);
            }
            small {
                @include fsz-cha(20,20,16);
                font-weight: 300;
            }
        }
        .box_hot_list {
            display: flex;
            justify-content: space-between;
            li {
                @include cV(width, 448px, 320px, 260px);
                @include cV(margin-right, 28px, 20px, 15px);
                a {
                    display: block;
                    .img {
                        width: 100%;
                        img {
                            display: block;
                            width: 100%;
                        }
                    }
                    .box_txt {
                        box-sizing: border-box;
                        @include cV(padding, 25px 10px, 5% 3%, 5% 3%);
                        .txt {
                            dt, dd {display: block;}
                            dt {
                                @include fsz-cha(18,16,14);
                                @include cV(margin-bottom, 10px, 2%);
                                font-weight: 600;
                            }
                            dd {
                                @include fsz-cha(15,14,13);
                                line-height: 1.8em;
                                font-weight: 300;
                                @include cV(margin-bottom, 20px, 3%);
                            } 
                        }
                        .util {
                            display: flex;
                            align-items: center;
                            justify-content: space-between;
                            @include fsz-cha(13,13,12);
                            .date, .cate {
                                color: #a4a4a4;
                            }
                            .cate {
                                border: 1px solid #a4a4a4;
                                padding: 0.2em 1em;
                                border-radius: 100px;
                            }
                        }
                    }
                }
                @include mq(pc) {
                    a {
                        .img {
                            overflow: hidden;
                            img {transition: all 0.75s;}
                        }
                        &:hover {
                            .img img {
                                transform: scale(1.1,1.1);
                            }
                            .box_txt .txt dt {
                                text-decoration: underline;
                            }
                        }
                    }
                }
                @include mq(tab_sp) {
                    a {
                        .img {
                            border-radius: 10px 10px 0 0;
                            overflow: hidden;
                        }
                        .box_txt {
                            border: 1px solid #d9d9d9;
                            border-top: none;
                            border-radius: 0 0 10px 10px;
                        }

                    }
                }
            }
        }
    }
}
    
