@charset "utf-8";

@import "settings";

//----------------------------------------------//
// Basic Settings
//----------------------------------------------//
* {outline: none;}
html,article,aside,audio,blockquote,body,dd,dialog,div,dl,dt,fieldset,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,input,li,mark,menu,nav,ol,p,pre,section,td,textarea,th,time,ul,video,main{margin:0;padding:0;word-wrap:break-word;overflow-wrap:break-word;-webkit-font-feature-settings:"palt";font-feature-settings:"palt"}address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;word-wrap:break-word;overflow-wrap:break-word}table{border-collapse:collapse;border-spacing:0}caption,th{text-align:left}q:after,q:before{content:""}embed,object{vertical-align:top}hr,legend{display:none}h1,h2,h3,h4,h5,h6{font-size:100%}abbr,acronym,fieldset,img{border:0}li{list-style-type:none}sup{vertical-align:super;font-size:0.5em}img{vertical-align:top}i{font-style:normal}svg{vertical-align:middle}article,aside,dialog,figure,footer,header,hgroup,nav,section,main{display:block}nav,ul{list-style:none}

html {
	font-size: small;
	line-height: 1.5;
    .fancybox-button--thumbs, .fancybox-button--play {display: none;}
}
body {
	color: $baseColor;
	background: #fff;
	-webkit-text-size-adjust: none;
	@include fsz($baseSize, 13);
	.ie & {
		@include fsz($baseSize, 13.4);
	}
	a {
		color: $baseColor;
        text-decoration: none;
        outline: none;
		&:hover {
			text-decoration: none;
		}
	}
	img {
		max-width: 100%;
		-webkit-touch-callout: none;
		line-height: 1;
        outline: none;
	}
	// iphonex以上用設定
	// // 右側の空白
	// padding: constant(safe-area-inset-right);
	// // 下側の空白
	// padding: constant(safe-area-inset-bottom);
	// //　左側の空白
	// padding: constant(safe-area-inset-left);
	// // 上側の空白
	// padding: constant(safe-area-inset-top);
}
body,
pre,
input,
textarea,
select {
	@include font("jp");
}
input,
select,
textarea {
	font-size: 100%;
}
select {
	@include mq(sp) {
		// iphoneのセレクト選択拡大を防ぐ 16px以上
		// font-size: 16px;
	}
}



//----------------------------------------------//
// ie8 Settings
//----------------------------------------------//
html.ie8 {
	.view_tab,
	.view_tab_sp,
	.view_sp {
		display: none !important;
	}
	#con_page {
		min-width: $columnWidth * 1px !important;
		margin: auto;
		font-size: 100% !important;
	}
}

//----------------------------------------------//
// .view_xxx
//----------------------------------------------//
body {
	@include mq(pc) {
		.view_tab-sp,
		.view_tab {
			display: none !important;
		}
	}
	@include mq(pc_tab) {
		.view_sp {
			display: none !important;
		}
	}
	@include mq(tab_sp) {
		.view_pc {
			display: none !important;
		}
	}
	@include mq(sp) {
		.view_pc-tab,
		.view_tab {
			display: none !important;
		}
	}
}

//----------------------------------------------//
// Style common
//----------------------------------------------//
.en {@include font("en");}
.tit {@include tit;}
.btn_more {
    @include cV(width, 250px, 90%);
    @include cV(margin, 50px auto, 5% auto);
    a {
        display: block;
        box-sizing: border-box;
        padding: 1em;
        border: 1px solid #707070;
        text-align: center;
        @include fsz-cha(15,15,13);
    }
    @include mq(pc) {
        a:hover {
            background-color: $pointColor;
            border-color: $pointColor;
            color: #fff;
        }
    }
}



//----------------------------------------------//
// #con_page
//----------------------------------------------//
#con_page {
	overflow: hidden;
	@include mq(pc) {
		width: 100%;
		margin: auto;
	}
	@include mq(pc_tab) {
		font-size: 100% !important;
	}
	// @include mq(pc) {
	// 	@include mq(pc_l) {}	//1920 ~ 1560			(1920-1200)/2+1
	// 	@include mq(pc_s) {} //1559 ~ $columnWidth
	// }
	// @include mq(pc_tab) {}
	// @include mq(tab) {}
	// @include mq(tab_sp) {}
	// @include mq(sp) {}
	// @include mq(min_w, 1px) {}
	// @include mq(max_w, 1700px) {}
	// @include mq(min_max_w, 768px, 1023px) {}
}

//----------------------------------------------//
// #header
//----------------------------------------------//
#header {

    .con_header {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        margin: auto;
        z-index: 100;
        background-color: #fff;
        .box_header {
            @extend %bw_l;
            box-sizing: border-box;
            width: 95%;
            @include cV(height, 100px, 75px, 55px);
            max-width: 1792px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            @include cV(padding, 20px 0, 2% 0);
            .logo {
                @include cV(width, 186px, 150px, 30%);
                a {
                    display: block;
                    img {width: 100%;}
                }
            }
            .nav {
                li {
                    display: inline-block;
                    width: 120px;
                    a {
                        display: block;
                        box-sizing: border-box;
                        padding: 1em;
                        text-align: center;
                        position: relative;
                    }
                }
            }
            .lang {
                a {
                    @include fsz-cha(13,13,13);
                }
                .btn_lang {
                    display: inline-flex;
                    align-items: center;
                    box-sizing: border-box;
                    a:after {
                        font-size: 120%;
                        content: "▾";
                        display: inline-block;
                        padding-left: 0.5em;
                    }
                }
                .deps {
                    display: none;
                }
            }
            @include mq(pc) {
                .nav li a {
                    &:after {
                        content: "";
                        display: block;
                        width: 0;
                        height: 2px;
                        background-color: $pointColor;
                        margin-top: 5px;
                        position: absolute;
                        left: 0;
                        bottom: 5px;
                        transition: width 0.35s;
                    }
                    &:hover {
                        color: $pointColor;
                        &:after {
                            width: 100%;
                        }
                    }
                }
            }
        }

		.btn_menu {
			position: fixed;
			top: 0;
			right: 0;
			z-index: 555;
			width: 55px;
			height: 55px;
			text-align: center;
			a {
				position: relative;
				display: block;
				width: 100%;
				height: 100%;
			}
			span.ic_menu {
				display: block;
				position: absolute;
				top: 0;
				right: 0;
				bottom: 0;
				left: 0;
				margin: auto;
				width: wCon(65,130);
				height: 2.5em;
				.line {
					position: absolute;
					left: 0;
					display: block;
					width: 100%;
					height: .2em;
					background: $pointColor;
					&.line01 {
						top: 1.5em;
						transition: all .45s;
					}
					&.line02 {
						bottom: 1.5em;
						transition: all .45s;
					}
				}
			}
			&.active {
				span.ic_menu {
					height: 3em;
					.line {
						&.line01 {
							@include cV(top, 1.4em, 1.3em);
							transform: rotate(45deg);
							-webkit-transform-origin: 50% 50%;
							-ms-transform-origin: 50% 50%;
							transform-origin: 50% 50%;
						}
						&.line02 {
							bottom: auto;
							@include cV(top, 1.4em, 1.3em);
							transform: rotate(135deg);
							-webkit-transform-origin: 50% 50%;
							-ms-transform-origin: 50% 50%;
							transform-origin: 50% 50%;
						}
					}
				}
			}
		}
        
		.open_menu {
			position: fixed;
			align-items: flex-start;
			justify-content: center;
			display: flex;
            flex-wrap: wrap;
            @include cV(top, 65px, 55px);
            background-color: $pointColor;
            right: -100%;
            width: 100%;
            height: 100vh;
			z-index: 100;
			color: #fff;
			transition: right ease-out .3s;
            .box_img {
                width: 100%;
                @include cV(height, 60vh, 57vh);
                background: url("../imgs/img_main_02.jpg") no-repeat bottom center;
                background-size: cover;
            }
			.box_info {
                @extend %bw;
                box-sizing: border-box;
                @include cV(width, 1280px, 90%, 90%);
                height: 30vh;
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                margin: auto;
                z-index: 3;
                border-radius: 7px;
                .box_tit {
                    @include cV(padding, 0 4%, 3% 0, 5% 0);
                    @include cV(text-align, left, center, center);
                    color: $pointColor;
                    padding-top: 3%;
                    span {
                        @include fsz-cha(22, 16, 16);
                        display: block;
                    }
                    strong {
                        @include fsz-cha(45, 35, 25);
                        line-height: 1;
                    }
                    @include mq(pc) {
                        border-right: 1px solid #000;
                    }
                    @include mq(tab_sp) { width: 100%; }
                }
                .box_point {
                    li {
                        display: flex;
                        flex-wrap: wrap;
                        @include cV(padding, 2% 0, 0 3%, 0 3%);
                        background-color: #fff;
                        color: #000;
                        border-radius: 7px;
                        a {
                            display: block;
                            width: 100%;
                        }
                        @include cV(text-align, center, left, left);
                        @include cV(padding, 0 25px, 3% 2%, 3% 5%);
                        @include cV(margin-bottom, 0, 2%, 2%);
                        @include mq(tab_sp) {
                            display: flex;
                            align-items: center;
                            border: 1px solid #c6c6c6;
                            .txt {
                                strong {display: block;}
                            }
                        }
                        @include mq(tab) {
                            box-sizing: border-box;
                            flex-wrap: wrap;
                            i {width: 100%;}
                        }

                        @include mq(sp) {
                            .txt { padding-left: 5%; }
                        }
                    }
                    @include mq(tab_sp) {
                        width: 100%;
                    }
                }
                .box_btn {
                    background-color: #fff;
                    display: flex;
                    padding: 5px;
                    @include cV(width, 130px, 100%, 100%);
                    a {
                        width: 100%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        text-align: center;
                        @include cV(padding, 5%, 3%, 3%);
                        background-color: $pointColor;
                        color: #fff;
                        border: 1px solid #fff;
                        transition: background-color 0.15s;
                        &:hover {
                            text-decoration: none;
                            background-color: lighten($pointColor, 3%);
                        }
                    }
                    @include mq(pc) {
                        border-left: 1px solid #000;
                    }
                }
			}
			&.active {right: 0;}
		}
        
        .fix_bottom {
            z-index: 120;
            position: fixed;
            left: 0;
            bottom: 0;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            background-color: #164380;
            a {
                display: block;
                padding: 7% 0;
                color: #fff;
                @include fsz(15);
            }
            .btn_reg {
                width: 50%;
                background-color: $pointColor;
            }
            .btn_call {
                background-color: #333;
                width: 50%;
            }
        }
        
        .con_aside {
            position: fixed;
            z-index: 120;
            top: 100px;
            right: 0;
            width: 64px;
        }
        
    }
}

//----------------------------------------------//
// #contents
//----------------------------------------------//
#con_page {
    @include cV(padding-top, 100px, 75px, 55px);
    .sub_top_tit {
        @include sub_top_tit;
    }
}

//----------------------------------------------//
// #footer
//----------------------------------------------//
#footer {
    background-color: #34332F;
    text-align: center;
    @include fsz-cha(13,13,12);
    @include cV(padding, 60px 0 45px, 7% 0 5%, 7% 0 10%);
    border-top: 1px solid #d9d9d9;
    color: #fff;
    .con_footer {
        @extend %bw_l;
        .logo {
            @include cV(margin-bottom, 20px, 3%);
            @include cV(width, 80px, 25%);
            display: inline-block;
            a { display: block;}
        }
        address {line-height: 2em;}
        .copy {
            @include font("en");
            @include fsz-cha(12,12,10);
            display: block;
        }
        .box_sns {
            @include cV(margin-top, 50px, 5%);
            li {
                display: inline-flex;
                width: 40px;
                height: 40px;
                border-radius: 100px;
                border: 1px solid #fff;
                margin: 0 2px;
                a {
                    display: flex;
                    width: 100%;
                    height: 100%;
                    align-items: center;
                    justify-content: center;
                    color: #fff;
                    i {font-size: 140%;}
                }
            }
        }
    }
    
}

//----------------------------------------------//
// Subpage Style Common
//----------------------------------------------//
html.lower #contents {
    
}

//----------------------------------------------//
// table
//----------------------------------------------//
table.tbl_basic {
}


//----------------------------------------------//
// popup
//----------------------------------------------//
















