@charset "utf-8";
@import "settings";

.con_sub {
    .con_top {
        position:relative;
        display: flex;
        @include cV(height, 350px, 35vh, 30vh);
        justify-content: center;
        align-items: center;
        background: url("../imgs/img_main_02.jpg") no-repeat center;
        @include fsz-cha(45, 40, 35);
        .tit {
            color: #fff;
            font-weight: normal;
            z-index: 1;
        }
        &:before {
            content: "";
            display: block;
            z-index: 2;
            width: 90%;
            @include cV(height, 60px, 7vw, 10vw);
            background-color: #fff;
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            margin: auto;
            
        }
        &:after {
            content: "";
            display: block;
            width: 100%;
            height: 100%;
            background-color: rgba(0,0,0,0.4);
            position: absolute;
            top: 0;
            left: 0;

        }
    }
    .con_reg {
        @extend %bw;
        max-width: 1131px;
        padding-bottom: 10%;
        .st {
            @include st;
        }
        .box_reg {
            .box_form {
                @include cV(margin-top, 50px, 7%);
                .box_tit {
                    border-bottom: 2px solid $pointColor;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    small {
                        color: #666;
                        @include fsz-cha(16,15,13);
                    }
                    @include cV(padding-bottom, 7px, 2%);
                }                
                .box_info {
                    @include cV(margin-bottom, 70px, 15%);
                    dl {
                        display: flex;
                        align-items: center;
                        @include cV(border-bottom, 1px solid #d9d9d9, 1px solid #000, 1px solid #000);
                        box-sizing: border-box;
                        @include cV(padding, 20px 0, 5% 0);
                        dt {
                            @include fsz-cha(16,16,14);
                            @include cV(width, 100px, 100%);
                            @include cV(margin-bottom, 0, 2%, 2%);
                        }
                        dd {
                            display: flex;
                            flex-wrap: wrap;
                            align-items: center;
                            position: relative;
                            input, select {
                                position: relative;
                                padding: 0.7em 1em;
                                border: 1px solid #d9d9d9;
                                border-radius: 5px;
                                @include mq(tab_sp) {
                                   -webkit-appearance: none; 
                                }
                            }
                            select {@include cV(margin-right, 10px, 0, 0);}
                            select:before {
                                content: "";
                                display: inline-block;
                                width: 12px;
                                height: 12px;
                                background-color: red;
                                position: absolute;
                                top: 0;
                                right: 0.5em;
                                bottom: 0;
                                margin: auto;
                                z-index: 3;
                            }

                            input[type=radio] {
                                width: 20px;
                                height: 20px;
                                margin-right: 5px;
                            }
                            &.btn_link {
                                a {
                                    display: block;
                                    width: 100%;
                                    background-color: #C7C7C7;
                                    color: #fff;
                                    padding: 1.3em;
                                    border-radius: 5px;
                                    @include fsz-cha(14,13,13);
                                    i {padding-left: 0.5em;}
                                }
                            }
                            placeholder {color: #c6c6c6;}
                        }
                        &.box_mind dd {@include cV(margin-right, 15px, 0, 0);}
                    }
                    @include mq(tab_sp) {
                        .select_mind, .select_floor, .select_rooms {
                            margin-bottom: 2%;
                            &:after {
                                content: "";
                                display: inline-block;
                                width: 18px;
                                height: 11px;
                                background: url("../imgs/common/ic_down.svg") no-repeat center;
                                position: absolute;
                                top: 0;
                                bottom: 0;
                                right: 1em;
                                margin: auto;
                                z-index: 3;
                            }
                        }
                        dl {
                            flex-wrap: wrap; 
                            dt {
                                color: #000;
                                font-weight: bold;
                            }
                            dd {
                                width: 100%;
                                input {width: 100%;}
                                .btn_link {width: 100%;}
                            }
                            &.box_floor dd {
                                select { width: 100%;}
                                &.btn_link {text-align: center;}
                            }
                            &.box_mind dd {
                                select {width: 100%; }
                                label {width: 90%;}
                                @include cV(padding, 2% 0, 0, 0);
                                border-top: 1px dotted #d9d9d9;
                                &.select_mind { border-top: none;}
                            }
                            &.box_mind dt + dd { border-top: none; }
                        }
                    }
                }
                .box_agree {
                    .box_txt {
                        background-color: #f9f9f9;
                        box-sizing: border-box;
                        @include cV(padding, 25px 45px 50px, 3% 0 5%);
                        h4 {@include fsz-cha(20,16,14);}
                        .txt {
                            @include cV(margin-top, 22px, 3%);
                            box-sizing: border-box;
                            border: 1px solid #707070;
                            background-color: #fff;
                            padding: 3%;
                            @include fsz-cha(16,16,13);
                            ul {
                                li {padding: 0.2em 0;}
                            }
                        }
                    }
                }
                .box_ok {
                    margin-top: 2%;
                    text-align: center;
                    .btn_ok {
                        @include cV(margin-top, 50px, 5%);
                        input[type=submit] {
                            background-color: $pointColor;
                            color: #fff;
                            @include cV(width, 320px, 70%, 100%);
                            padding: 1em;
                            border-radius: 100px;
                            border: none;
                            @include mq(pc) {
                                &:hover {
                                    background-color: lighten($pointColor, 10%);
                                    cursor: pointer;
                                }
                            }
                            @include mq(tab_sp) {
                                -webkit-appearance: none;
                            }
                        }
                    }
                }
            }
        }
    }
    
}
