.con_sub .con_benefit {
  width: 90%;
  max-width: 1280px;
  margin: auto; }
  @media only screen and (max-width: 1199px) {
    .con_sub .con_benefit {
      width: 91.6666666667%; } }

.con_sub .con_top {
  position: relative;
  display: flex;
  height: 350px;
  justify-content: center;
  align-items: center;
  background: url("../imgs/img_main_02.jpg") no-repeat center;
  font-size: 282%; }
  @media only screen and (min-width: 768px) and (max-width: 1199px) {
    .con_sub .con_top {
      height: 35vh; } }
  @media only screen and (max-width: 767px) {
    .con_sub .con_top {
      height: 30vh; } }
  @media only screen and (min-width: 768px) and (max-width: 1199px) {
    .con_sub .con_top {
      font-size: 250%; } }
  @media only screen and (max-width: 767px) {
    .con_sub .con_top {
      font-size: 219%; } }
  .con_sub .con_top .tit {
    color: #fff;
    font-weight: normal;
    z-index: 1; }
  .con_sub .con_top:before {
    content: "";
    display: block;
    z-index: 2;
    width: 90%;
    height: 60px;
    background-color: #fff;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto; }
    @media only screen and (min-width: 768px) and (max-width: 1199px) {
      .con_sub .con_top:before {
        height: 7vw; } }
    @media only screen and (max-width: 767px) {
      .con_sub .con_top:before {
        height: 10vw; } }
  .con_sub .con_top:after {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    position: absolute;
    top: 0;
    left: 0; }
.con_sub .wrap_benefit {
  background-color: #f9f9f9;
  padding: 100px 0; }
  @media only screen and (min-width: 768px) and (max-width: 1199px) {
    .con_sub .wrap_benefit {
      padding: 10% 0; } }
  @media only screen and (max-width: 767px) {
    .con_sub .wrap_benefit {
      padding: 10% 0; } }
.con_sub .con_benefit {
  max-width: 1131px;
  padding-bottom: 5%; }
  .con_sub .con_benefit .st {
    text-align: center; }
    .con_sub .con_benefit .st span, .con_sub .con_benefit .st strong {
      display: block;
      color: #0D366C; }
    .con_sub .con_benefit .st span {
      font-size: 138%;
      font-weight: normal; }
      @media only screen and (min-width: 768px) and (max-width: 1199px) {
        .con_sub .con_benefit .st span {
          font-size: 113%; } }
      @media only screen and (max-width: 767px) {
        .con_sub .con_benefit .st span {
          font-size: 100%; } }
    .con_sub .con_benefit .st strong {
      font-size: 225%; }
      @media only screen and (min-width: 768px) and (max-width: 1199px) {
        .con_sub .con_benefit .st strong {
          font-size: 188%; } }
      @media only screen and (max-width: 767px) {
        .con_sub .con_benefit .st strong {
          font-size: 157%; } }
    .con_sub .con_benefit .st:before {
      content: "";
      display: block;
      margin: 0 auto 30px;
      width: 50px;
      height: 4px;
      background-color: #0D366C; }
  .con_sub .con_benefit .box_img {
    width: 100%;
    height: 670px;
    margin-top: 36px;
    background: url("../imgs/img_loca_02.png") no-repeat center;
    background-size: cover; }
    @media only screen and (min-width: 768px) and (max-width: 1199px) {
      .con_sub .con_benefit .box_img {
        height: 35vw; } }
    @media only screen and (max-width: 767px) {
      .con_sub .con_benefit .box_img {
        height: 35vh; } }
    @media only screen and (max-width: 767px) {
      .con_sub .con_benefit .box_img {
        margin-top: 5%; } }
  .con_sub .con_benefit .box_img_02 {
    margin-top: 56px;
    position: relative; }
    @media only screen and (max-width: 767px) {
      .con_sub .con_benefit .box_img_02 {
        margin-top: 15%; } }
    .con_sub .con_benefit .box_img_02 img {
      position: relative;
      z-index: 2; }
    .con_sub .con_benefit .box_img_02:after {
      content: "";
      display: block;
      width: 104%;
      height: 80%;
      background-color: #0D366C;
      position: absolute;
      top: -20px;
      left: -2%;
      z-index: 1; }
  .con_sub .con_benefit .box_bene {
    width: 100%;
    margin-top: 30px; }
    @media only screen and (max-width: 767px) {
      .con_sub .con_benefit .box_bene {
        margin-top: 5%; } }
    .con_sub .con_benefit .box_bene li {
      border-radius: 0;
      width: 50%;
      margin-bottom: 0;
      padding: 0 5% 5%;
      background-color: #fff;
      box-sizing: border-box;
      text-align: center; }
      @media only screen and (max-width: 767px) {
        .con_sub .con_benefit .box_bene li {
          border-radius: 5px; } }
      @media only screen and (max-width: 767px) {
        .con_sub .con_benefit .box_bene li {
          width: 100%; } }
      @media only screen and (max-width: 767px) {
        .con_sub .con_benefit .box_bene li {
          margin-bottom: 7%; } }
      @media only screen and (min-width: 768px) and (max-width: 1199px) {
        .con_sub .con_benefit .box_bene li {
          padding: 0 0 5%; } }
      @media only screen and (max-width: 767px) {
        .con_sub .con_benefit .box_bene li {
          padding: 0 0 5%; } }
      .con_sub .con_benefit .box_bene li .st {
        font-size: 125%;
        padding: 3%;
        color: #0D366C; }
        @media only screen and (min-width: 768px) and (max-width: 1199px) {
          .con_sub .con_benefit .box_bene li .st {
            font-size: 113%; } }
        @media only screen and (max-width: 767px) {
          .con_sub .con_benefit .box_bene li .st {
            font-size: 113%; } }
        .con_sub .con_benefit .box_bene li .st:before {
          display: none; }
        .con_sub .con_benefit .box_bene li .st span {
          display: inline-block;
          margin: 0; }
          @media only screen and (min-width: 768px) and (max-width: 1199px) {
            .con_sub .con_benefit .box_bene li .st span {
              display: block; } }
          @media only screen and (max-width: 767px) {
            .con_sub .con_benefit .box_bene li .st span {
              display: block; } }
          @media only screen and (min-width: 768px) and (max-width: 1199px) {
            .con_sub .con_benefit .box_bene li .st span {
              margin: 3%; } }
          @media only screen and (max-width: 767px) {
            .con_sub .con_benefit .box_bene li .st span {
              margin: 3%; } }
      .con_sub .con_benefit .box_bene li .box_txt {
        padding: 5%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between; }
        @media only screen and (min-width: 768px) and (max-width: 1199px) {
          .con_sub .con_benefit .box_bene li .box_txt {
            padding: 10% 5%; } }
        @media only screen and (max-width: 767px) {
          .con_sub .con_benefit .box_bene li .box_txt {
            padding: 5% 0; } }
        .con_sub .con_benefit .box_bene li .box_txt dt {
          margin-bottom: 0;
          text-align: center;
          color: #0D366C;
          font-weight: bold;
          margin: 0 auto 10%; }
          @media only screen and (min-width: 768px) and (max-width: 1199px) {
            .con_sub .con_benefit .box_bene li .box_txt dt {
              margin-bottom: 5%; } }
          @media only screen and (max-width: 767px) {
            .con_sub .con_benefit .box_bene li .box_txt dt {
              margin-bottom: 5%; } }
          .con_sub .con_benefit .box_bene li .box_txt dt span, .con_sub .con_benefit .box_bene li .box_txt dt i {
            display: block; }
        .con_sub .con_benefit .box_bene li .box_txt dd {
          font-size: 113%;
          text-align: left; }
          @media only screen and (min-width: 768px) and (max-width: 1199px) {
            .con_sub .con_benefit .box_bene li .box_txt dd {
              font-size: 94%; } }
          @media only screen and (max-width: 767px) {
            .con_sub .con_benefit .box_bene li .box_txt dd {
              font-size: 88%; } }
    @media only screen and (min-width: 768px) {
      .con_sub .con_benefit .box_bene {
        display: flex;
        flex-wrap: wrap;
        justify-content: center; }
        .con_sub .con_benefit .box_bene li {
          border-left: 1px solid #d9d9d9; }
          .con_sub .con_benefit .box_bene li:first-child {
            border-left: none; } }
    @media only screen and (max-width: 767px) {
      .con_sub .con_benefit .box_bene li:first-child {
        border-bottom: 1px solid #d9d9d9; } }
  .con_sub .con_benefit .box_partners {
    display: flex; }
    .con_sub .con_benefit .box_partners .box_tit, .con_sub .con_benefit .box_partners .box_ci {
      box-sizing: border-box; }
    .con_sub .con_benefit .box_partners .box_tit {
      position: relative;
      background-color: #0D366C;
      color: #fff;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
      letter-spacing: -2px;
      font-size: 188%;
      width: 344px;
      height: 280px; }
      @media only screen and (min-width: 768px) and (max-width: 1199px) {
        .con_sub .con_benefit .box_partners .box_tit {
          font-size: 150%; } }
      @media only screen and (max-width: 767px) {
        .con_sub .con_benefit .box_partners .box_tit {
          font-size: 144%; } }
      @media only screen and (max-width: 767px) {
        .con_sub .con_benefit .box_partners .box_tit {
          width: 100%; } }
      @media only screen and (max-width: 767px) {
        .con_sub .con_benefit .box_partners .box_tit {
          height: 20vh; } }
      .con_sub .con_benefit .box_partners .box_tit:after {
        content: "";
        display: block;
        width: 97%;
        height: 97%;
        border: 1px solid #fff;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto; }
        @media only screen and (max-width: 767px) {
          .con_sub .con_benefit .box_partners .box_tit:after {
            height: 94%; } }
    .con_sub .con_benefit .box_partners .box_ci {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      background-color: #fff;
      width: 787px;
      padding: 40px 50px; }
      @media only screen and (max-width: 767px) {
        .con_sub .con_benefit .box_partners .box_ci {
          width: 100%; } }
      @media only screen and (min-width: 768px) and (max-width: 1199px) {
        .con_sub .con_benefit .box_partners .box_ci {
          padding: 2%; } }
      @media only screen and (max-width: 767px) {
        .con_sub .con_benefit .box_partners .box_ci {
          padding: 3% 5%; } }
      .con_sub .con_benefit .box_partners .box_ci dt {
        width: 100%;
        padding: 0 2%;
        color: #0D366C;
        font-weight: bold;
        margin: 0;
        font-size: 138%; }
        @media only screen and (min-width: 768px) and (max-width: 1199px) {
          .con_sub .con_benefit .box_partners .box_ci dt {
            margin: 0; } }
        @media only screen and (max-width: 767px) {
          .con_sub .con_benefit .box_partners .box_ci dt {
            margin: 7% 0 5%; } }
        @media only screen and (min-width: 768px) and (max-width: 1199px) {
          .con_sub .con_benefit .box_partners .box_ci dt {
            font-size: 125%; } }
        @media only screen and (max-width: 767px) {
          .con_sub .con_benefit .box_partners .box_ci dt {
            font-size: 113%; } }
      .con_sub .con_benefit .box_partners .box_ci dd {
        padding: 0 2%; }
        @media only screen and (max-width: 767px) {
          .con_sub .con_benefit .box_partners .box_ci dd {
            padding: 2%; } }
    @media only screen and (max-width: 767px) {
      .con_sub .con_benefit .box_partners {
        flex-wrap: wrap; } }
.con_sub .btn_vr a {
  color: #0D366C !important;
  border-color: #0D366C !important; }
